:root {
  --lightColor: #ffffff;
  --mediumLightColor: #d6e2f0;
  --mediumDarkColor: #7b879d;
  --darkColor: #1f3251;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--mediumLightColor);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.cardContainer {
  margin: 10px;
}

.card {
  max-width: 320px;
  height: auto;
  margin: 24px;
  padding: 16px;
  border-radius: 20px;
  background-color: var(--lightColor);
  box-shadow: 0px 20px 20px #1f32510d;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card-text {
  margin: 24px 12px;
}

.card-text h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: var(--darkColor);
}

.card-text p {
  margin: 20px 0px;
  font-size: 15px;
  line-height: 18px;
  color: var(--mediumDarkColor);
}
.attribution {
  position: absolute;
  bottom: 0px;
  margin: 10px 0px;
  text-align: center;
  font-size: 10px;
}
.attribution a {
  color: #3e52a3;
}
